package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *
 * @ClassName: ${entity}Service
 * @Description: TODO(这里用一句话描述这个类的作用)
 * @author ${author}
 * @date ${date}
 */
public class ${entity}Service{

}